.inner-scroll{
    background: black; //배경 컬러
}
.scroll-y{
    background: black; //배경 컬러
}
.scroll-content{
    background: black; //배경 컬러
    background-size: 100%;
}
main{
    background: black;
}
.content{
    border: 0;
}
.buttonContent{
    // padding : 2% 0% 5% 0%;
}

#mainPage{
    display: none;
    width: 100%;
    height: 99%;
}

#myvideo{
    width: 100%;
    padding-top: 10%;
    padding-bottom: 7%;
}

#myAudio{
    display: contents;
}

#sectionByButton{
    // padding: 5px;
    width: 14%;
    float: left;
}

.statusButton{
    margin: 0.5%;
    margin-top: 2%;
    width: 35%;
    float: left;
}